<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bonjour_privacy</key>
	<dict>
		<key>Enabled</key>
		<true/>
		<key>DisplayName</key>
		<string>Require Entitlements For Bonjour</string>
		<key>Description</key>
		<string>Restrict bonjour browsing without proper entitlments</string>
		<key>Radar</key>
		<integer>59374417</integer>
	</dict>
	<key>preallocated_cache</key>
	<dict>
		<key>Enabled</key>
		<false/>
		<key>DisplayName</key>
		<string>Preallocate Cache Entities</string>
		<key>Description</key>
		<string>For memory testing purposes, preallocates the maximum number of cache entities allowed for the record cache during daemon initialization. This feature only applies to OSes that have a cache entity limit, such as iOS, tvOS, and watchOS.</string>
		<key>Radar</key>
		<integer>76878894</integer>
	</dict>
</dict>
</plist>
