<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleIdentifier</key>
        <string>com.apple.srp-test-server</string>
        <key>CFBundleName</key>
        <string>DNS-SD Service Registration Protocol Test Server for Multicast DNS</string>
</dict>
</plist>
